@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

#new_file {
  width: 36px;
  height: 36px;
  cursor: pointer;

  label {
    margin-top: 2px;
    margin-left: -6px;

    .upload-icon {
      font-size: 18px;
    }
  }

  #fileupload {
    height: 40px;
    margin: -35px -15px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    width: 40px;
  }
}



.object {
  margin-bottom: 30px;
  padding-top: 10px;

  &.uploading,
  &.renaming {
    opacity: 0.6;
    cursor: progress;
  }

  &:hover,
  &.selected {
    background-color: #e8f6fe;
    border-radius: 10px;
  }

  &:hover {
    a.rename {
      display: inline !important;
    }

    #rename-form ~ a.rename {
      display: none !important;
    }
  }

  .icon-container {
    overflow: hidden;

    .icon-base {
      height: 120px;
    }

    .icon-base.directory {
      background: url("../images/directory.png") no-repeat center center /contain;
    }

    .icon-base.file {
      background: url("../images/file.png") no-repeat center center /contain;
    }
  }

  .name-container {
    margin-top: 10px;
    text-align: center;

    #input-folder,
    #input-file {
      width: 150px;
      margin-bottom: 10px;
    }
  }

  overflow: hidden;
}
